.wrapper {
    min-height: 100vh;
    max-width: var(--default-layout-width);
    margin: auto;
    padding: 22px;
}
.container {
    display: flex;
    flex-direction: column;
    border: 1px solid;

    .content {
        width: 100%;
        background-color: #ffffffbe;
        padding: 12px;
    }
}

