.wrapper {
    background-color: #fff;
    color: #000000;
    min-height: 1000px;
    max-width: var(--default-layout-width);
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
    border-left: 2px solid #24890D;
    border-right: 2px solid #24890D;
}