.wrapper {
    min-width: 130px;
    min-height: 400px;
    display: flex;
    flex-direction: column;

    .desc {
        font-size: 1.2rem;
        opacity: 0.8;
        padding: 12px 0;
    }

    button {
        padding: 4px;
        height: 31px;
        font-size: 1.5rem;
        font-weight: 700;
        color: #2c2626d9;
        border-radius: 6px;
        margin-bottom: 44px;
        cursor: pointer;
    }

    .social {
        font-size: 1.4rem;

        span {
            font-size: 1.1rem;
            padding-bottom: 15px;
            display: inline-block;
            font-weight: 600;
        }
    }
    .social-list {
        padding-bottom: 40px;

        li{
            font-size: 1.2rem;
            padding-bottom: 6px;
            list-style: none;
        }
    }
    .user-online {
        font-size: 1.2rem;
        margin-bottom: 46px;
        
        span {
            display: block;
        }
        .box-user{
            display: inline-block;
            padding: 4px 8px;
            border-radius: 6px;
            margin-top: 12px;
            background-color: #ddd;
            color: #000;
        }
    }
    .blog-stats {
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 14px;
    }
    .stats-count{
        font-size: 1.2rem;
        opacity: 0.8;
        margin-bottom: 12px;
    }

    .link {
        margin: 12px 0 24px;
        font-size: 1.2rem;
        font-weight: 600;

        h5 {
            padding: 22px 0;
        }
        p {
            padding-top: 10px;
        }
    }

    .storage {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 6px;

        span {
            display: block;
            padding-top: 8px;
            font-size: 1.1rem;
        }
    }

     a {
       color: #fff;
        
       &:hover{
        color: var(--primary-color);
       }
    
    }
}



