.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--default-layout-background-color);
}

.container {
    max-width: var(--default-layout-width);
    display: flex;

    .secondary {
        width: var(--default-layout-secondary-width);
        padding: 0 30px;
        background-color: #000000;
        color: #fff;
    }
    
}

.content {
    width: 100%;
    display: flex;
    min-height: 1000px;
    padding-top: 72px;
    background-color:#fff;
    

    .sidebar{
        padding: 0 30px 24px;
        min-height: 400px;
    }
}

//responsive


//  width >= tablet 
@media only screen and (min-width: 740px){

    .content-children {
        width: 66%;
    }
    .sidebar {
        width: 34%;
    }
}

// width < pc 
@media only screen and (max-width: 1008px){
    .container {
        flex-direction: column-reverse;

        .secondary{
            width: 100%;

            ul {
                width: 100%;
            }
            a {
                display: block;
                width: 100%;
                padding-bottom: 12px;
                border-bottom:1px solid #ccc ;
            }
        }
    }
    .content {
        padding-top: 48px;
    }

}


//width <= mobile
@media only screen and (max-width: 739px){
    .content {
        padding-top: 48px;
        flex-direction: column;
    }
    .content-children {
        width: 100%;
        flex: 1;
    }
    .sidebar {
        width: 100%;
    }

}


