.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: left;
    color: #fff;
}

.inner {
    width: var(--default-layout-width);
    background-color: #000;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/// inner
.title {
    font-family: Georgia, 'Times New Roman';
    flex: 1;
    line-height: 48px;
}
.search {
    margin-left: 2px;
    float: right;
    padding: 9px 10px;
    background-color: var(--primary-color);
}

//navigation
.navigation {
    
}
.nav-list {
    display: flex;
}
.nav-item {
    line-height: 48px;
    list-style: none;
}
.nav-link {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 17px 26px 15px 12px;
    &:hover {
        background-color: var(--primary-color);
    }
    &:active.inner {
        color: var(--primary-color);
    }

}
.logo {
    color: #fff;
}


// < laptop
@media screen and (max-width: 860px){

}