.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: left;
    color: #fff;
}

.inner {
    width: var(--default-layout-width);
    background-color: #000;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


/// inner
.title {
    font-size: 16px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman';
    flex: 1;
    line-height: 48px;

    a {
        color: #fff;
        padding: 8px 12px;

        &:hover {
            border: 1px solid #ccc;
        }
    }
}
.search {
    cursor: pointer;
    margin-left: 2px;
    float: right;
    padding: 12px 15px;
    background-color: var(--primary-color);
}

//navigation 

//on destop
.nav-list {
    display: flex;
}
.nav-item {
    line-height: 48px;
    list-style: none;
    position: relative; //set dropdown

    &:hover {
        .dropdown-menu {
            display: block;
        }
    }
}
.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 17px 16px 16px 12px;
    color: #fff;
    
    span {
        padding-left: 4px;
    }
    &:hover {
        background-color: var(--primary-color);
    }
    &:active {
        color: var(--primary-color);
    }
}

//popper navbar stage 2
.dropdown-menu {
    position: absolute;
    display: none;
    top: var(--default-layout-header-height);
    left: 0;
    min-width: 200px;
    min-height: 60px;
    background-color: #000;
    color: #fff;
    list-style: none;
    z-index: 1;
}

.dropdown-link {
    display: block;
    padding: 0 10px;
    font-size: 1.1rem;
    background-color: var(--primary-color);
    color: #fff;

    &:hover {
        background-color: rgb(117, 185, 100);
        cursor: pointer;
    }
}

//Nav on Tablet & Mobile

//search
.search-container {
    display: none;
    width: calc(100% - var(--default-layout-secondary-width));
    top: var(--default-layout-header-height);
    right:0px;
    height: 46px;
    background-color: var(--primary-color);
    position: absolute;
    
    input {
        width: 48%;
        height: 30px;
        float: right;
        line-height: 46px;
        margin-right: 6px;
        margin-top: 8px;
        font-size: 1.6rem;
        border: 2px solid #ccc;
        padding: 2px;
    }
    input &:focus {
        outline: none;
    }
    
}

.active-search {
    display: block;
}

//menubar
.menubar {
    display: none;
    padding: 12px 15px;
    cursor: pointer;


    &:hover {
        background-color: #5c5959;
    }
}

// < laptop
@media screen and (max-width: 798px){
    
    .navigation {
        position: absolute;
        display: none;
        top: 48px;
        right: 0;
        left: 0;
        z-index: 1;
        background: #000;
    }
    .active-menu {
        display: flex;
    }

    .nav-list {
        display: block;
        width: 100%;
    }

    .nav-link {
        padding: 0px 10px 0px;
        display: block
    }

    .dropdown-menu {
        position:unset;
        background-color: #000;
    }

    .search-container {
        width: 100%;
        padding: 0 22px;

        input {
            width: 100%;
            float: none;
        }
    }

    .menubar {
        display: inline-block;
    }

}
@media screen and (max-width: 1008px){
    .search-container {
        width: 100%;
        padding: 0 22px;
    }

}